In [1]:
from sqlalchemy import create_engine

# Bring in tables

In [2]:
database_name = 'housing'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [3]:
def get_table(tablename):
    query = f"""
        SELECT *
        FROM {tablename}
    """
    return pd.read_sql(query, con=engine)

In [4]:
#bring in the sales table from PgAdmin Connection
sales = get_table('sales')

In [5]:
#bring in assessment table
assessment = get_table('assessment')

# Create Unique Residential Apn DataFrame

In [6]:
residential_apn = (assessment.loc[assessment.classdesc == "RESIDENTIAL"].apn)

In [7]:
unique_residential_apn = pd.DataFrame(residential_apn.drop_duplicates()).reset_index(drop=True)

In [8]:
unique_residential_apn

                   apn
0          00100000100
1          00100000200
2          00200004700
3          00200004900
4          00200007100
...                ...
240741  143100D31600CO
240742     15009004900
240743  151090A18200CO
240744  165090A08600CO
240745  172120B28500CO

[240746 rows x 1 columns]

# Filter Sales into sales after and during 2008

In [9]:
import datetime

#### Create datetime column from ownerdate to do time comparasins

In [10]:
ownerdate_datetime = pd.to_datetime(sales.copy().ownerdate)

In [11]:
sales['ownerdate_datetime'] = ownerdate_datetime

In [12]:
sales.head(2)

,apn,pin,ownername,ownerdate,ownerdocument,ownerdocumenthref,owneraddress,ownercountry,saleamount,status,ownerdate_datetime
0,00100000100,61,"CARVER, HEATHER & MICHAEL",2022-04-22,DB-20220502 0050908,DB-20220502 0050908~https://www.davidsonportal...,"8538 WHITES CREEK PK, JOELTON TN 37080",US,204500.0,Current,2022-04-22
1,00100000100,61,"THAXTON, JESSE RAY & HELEN F.",2006-12-05,DC-20110805 0060547,DC-20110805 0060547~https://www.davidsonportal...,"204 SAVANNAH EAST CT, SPRINGFIELD TN 37172",US,7500.0,Historical,2006-12-05

##### Filter for 2008 and on

In [13]:
sales['sale_year'] = pd.DatetimeIndex(sales.ownerdate_datetime).year

In [14]:
sales_window = sales.loc[sales.sale_year >= 2008]

In [15]:
sales_window.sale_year.min()

2008.0

# Filter Sales into residential sales

In [16]:
#this section is here because we switched methods of filtering to residential sales farther down,
#that is also why residential sales is being set to the sales_window

In [17]:
residential_sales = sales_window

# Filter Residential Sales for saleamount >= $30,000

In [18]:
if len(residential_sales) > 400_000:
    residential_sales = residential_sales.loc[residential_sales.saleamount >= 30_000]
residential_sales = residential_sales.reset_index(drop=True)
print(len(residential_sales))

302260

# Filter to properties with two or more sales

## Create multi sale property table to merge with residential sales

In [19]:
sale_counts = pd.DataFrame(residential_sales.apn.value_counts()).reset_index()

sale_counts = sale_counts.rename(columns = {'apn' : 'total_sales', 'index' : 'apn' })

In [20]:
multi_sale_properties = sale_counts.loc[sale_counts.total_sales >= 2]

## merge residential sales with multi sale properties
- we want sale information on all properties with more than one sale

In [21]:
target_sales = pd.merge(residential_sales, multi_sale_properties, how='inner', on='apn')

In [22]:
target_sales = target_sales.drop_duplicates()

In [23]:
target_sales.shape

(233925, 13)

dropping some duplicate subsets to clean up our dataframe

In [24]:
target_sales = target_sales.drop_duplicates(subset = ['apn', 'ownername'])
target_sales = target_sales.drop_duplicates(subset = ['apn','ownerdate'])
target_sales = target_sales.drop_duplicates(subset = ['ownerdocument','saleamount','ownerdate'])

In [25]:
target_sales.shape

(194314, 13)

# Investigate residential descriptions

In [26]:
properties = get_table('properties')

In [27]:
properties = properties[['apn','ludesc']]

In [28]:
clean_target_sales = pd.merge(target_sales, properties, how='inner',on='apn')

In [29]:
target_prop_types = ([
    'SINGLE FAMILY',
    'RESIDENTIAL CONDO',
    'DUPLEX',
    'VACANT RESIDENTIAL LAND',
    'TRIPLEX',
    'QUADPLEX'
])

In [30]:
clean_target_sales = clean_target_sales.query('ludesc in @target_prop_types')

In [31]:
clean_target_sales.shape

(183503, 14)

# Bring in locations

In [32]:
locations = get_table('locations')

In [33]:
locations.head()

,apn,geometry,centroid
0,135100C00100CO,"((-86.6550922601566,36.08968968469921),(-86.65...","(-86.6550153261827,36.08953410265812)"
1,135100C00200CO,"((-86.6547412785098,36.08936111487425),(-86.65...","(-86.65481490085843,36.089489774922804)"
2,135100C00300CO,"((-86.6543636849112,36.08949942079647),(-86.65...","(-86.65453122326811,36.089413458773656)"
3,00100000100,"((-86.89915572979601,36.389976312811555),(-86....","(-86.89974455957591,36.38885243003944)"
4,00100000200,"((-86.89848433634678,36.38997195899868),(-86.8...","(-86.89740393976102,36.388928987061355)"

# Merge locations with existing clean target sales table

In [34]:
sale_locations = pd.merge(clean_target_sales, locations, how='inner',on='apn')

sale_locations = sale_locations.drop_duplicates()

sale_locations.shape

(183503, 16)

In [35]:
sale_locations.head()

,apn,pin,ownername,ownerdate,ownerdocument,ownerdocumenthref,owneraddress,ownercountry,saleamount,status,ownerdate_datetime,sale_year,total_sales,ludesc,geometry,centroid
0,00200004500,33,"HUNTER, ELLEN",2021-12-10,DB-20211215 0165595,DB-20211215 0165595~https://www.davidsonportal...,"131 EAST END RD, GOODLETTSVILLE TN 37072",US,393000.0,Current,2021-12-10,2021.0,2,SINGLE FAMILY,"((-86.76135639334478,36.3954012509418),(-86.76...","(-86.76150711122163,36.394839711854296)"
1,00200004500,33,"HARP, MEGAN & SPENCER",2019-12-09,DB-20191210 0127273,DB-20191210 0127273~https://www.davidsonportal...,"131 EAST END RD, GOODLETTSVILLE TN 37072",US,272500.0,Historical,2019-12-09,2019.0,2,SINGLE FAMILY,"((-86.76135639334478,36.3954012509418),(-86.76...","(-86.76150711122163,36.394839711854296)"
2,00200002700,141,"BOSTICK, JENNIFFER I & TRAYMAINE V",2022-08-12,DB-20220815 0092531,DB-20220815 0092531~https://www.davidsonportal...,"112 A KING ST, GREENBRIER TN 37073",US,440000.0,Current,2022-08-12,2022.0,4,SINGLE FAMILY,"((-86.7627237712887,36.39387621844443),(-86.76...","(-86.76308736156855,36.39356184510311)"
3,00200002700,141,"JOURNEY QUEST SOLUTIONS, LLC",2021-08-31,DB-20210915 0123789,DB-20210915 0123789~https://www.davidsonportal...,"119 S MAIN ST, MEMPHIS TN 38103",US,277500.0,Historical,2021-08-31,2021.0,4,SINGLE FAMILY,"((-86.7627237712887,36.39387621844443),(-86.76...","(-86.76308736156855,36.39356184510311)"
4,00200002700,141,"LYNN, JERRY & CAROLYN",2020-05-08,DB-20200515 0050428,DB-20200515 0050428~https://www.davidsonportal...,"112 EAST END RD, GOODLETTSVILLE TN 37072",US,165000.0,Historical,2020-05-08,2020.0,4,SINGLE FAMILY,"((-86.7627237712887,36.39387621844443),(-86.76...","(-86.76308736156855,36.39356184510311)"

In [36]:
sale_locations.to_csv('../created_tables/sales.csv', index=False)

In [37]:
sale_locations.size

2936048